body {
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

h1 {
    color: #BC0027;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    border-bottom: 1px solid blue;
}

h2 {
    color: #BC0027;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 50px;
}

main, header {
    border: 1px solid black;
    margin: 0 auto;
    width: 80vw;
    padding: 1rem;
    background-color: gray;
}

p,
blockquote,
ul,
ol {
    margin-left: 100px;
}

ul, blockquote {
    background-color: #D39378;
}

blockquote {
    padding: 1rem;
}

img.left {
    margin-left: 50px;
}

img.right {
    float: right;
    margin: 0 12px;
}

a:link, a:focus, a:hover {
    color: #026B40;
}

a:visited, a:active {
    color: greenyellow;
}
